/** Define Fonts **/


/** Define Fonts **/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/** xDefine Fonts **/


/** Global Elements **/

body {
     background: #eee;
}
.wrapper {
     width: 1024px;
     margin: 0 auto;
}

/** xGlobal Elements **/


/*Header*/

.newsHeader {
     width: 1024px;
     height: 128px;
     background-color: #00abe8;
     margin: 0 auto 0 auto;
     padding: 15px 0 0 122px;
}
nav {
     margin-bottom: 20px;
}
.breadcrumbList {
     list-style-type: none;
     color: #ffffff;
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 700;
     font-size: 14px;
     height: 19px;
     padding-left: 0;
     margin: 0;
     display: flex;
}
.breadcrumbList a {
     color: #ffffff;
}
.breadcrumbList a:hover {
     text-decoration: none;
     color: #ffffff;
     background-color: #00abe8;
}
.breadcrumbList li {
     display: inline;
     padding: 0 5px 0 5px;
}
.breadcrublist li:first-child {
     padding: 0 5px 0 0;
}
.breadcrumbTrail {
     background: url('images/greater_than.png') no-repeat;
     height: 12px;
     width: 8px;
     padding: 5px;
     position: relative;
     top: 6px;
     z-index: 2;
}
.headerTitle {
     text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 700;
     font-size: 50px;
     color: white;
     margin: 0;
}

/*xHeader*/

.tile-header {
     width: 300px;
     height: 43px;
     background: #f9f9f9;
     margin-bottom: 2px;
     padding: 9px 0 8px 11px;
}
.tile-title {
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 700;
     font-size: 23px;
     line-height: 25.3px;
     letter-spacing: 0.9px;
     color: #4a4a4a;
     margin: 0;
}
.news-article-tile-content {
     width: 300px;
     height: 301px;
     background-color: #ffffff;
}
.news-article-tile-content:first-of-type {
     height: 346px;
     margin-bottom: 20px;
}
.news-article-tile-content:last-of-type {
     margin-bottom: 2px;
}
.tile-image {
     background: url("images/gaming.png") no-repeat;
     width: 300px;
     height: 166px;
     padding: 0;
}
.article-title {
     height: 44px;
     font-family: 'PT Sans', sans-serif;
     font-weight: 700;
     font-size: 17px;
     color: #4a4a4a;
     background: url('images/product-spotlight.png') no-repeat;
     padding-left: 50px;
     margin-left: 10px;
}
.article-date {
     font-family: 'PT Sans', sans-serif;
     font-size: 12px;
     font-weight: 400;
     font-style: italic;
     color: #9b9b9b;
     padding: 0 0 0 50px;
     margin-left: 10px;
}
.read-more {
     display: inline;
}
.read-more a {
     text-transform: uppercase;
     font-family: 'PT Sans', sans-serif;
     font-weight: 400px;
     font-size: 14px;
     color: #0c5ed6;
     text-decoration: none;
     cursor: pointer;
     padding-left: 50px;
     margin-left: 10px;
}
.read-more a:hover {
     text-decoration: none;
     color: #0c5ed6;
}
.likes {
     float: right;
     font-family: 'PT Sans', sans-serif;
     font-weight: 400px;
     font-size: 12px;
     color: #9b9b9b;
     background: url('images/thumbs-up-copy.png') no-repeat;
     padding-left: 20px;
     padding-right: 10px;
     cursor: pointer;
}
.likes .number {
     position: relative;
     top: 20px;
     right: 20px;
}
.divisions-news-footer {
     height: 32px;
     width: 300px;
     padding: 8px 0 9px 15px;
     background-color: #ffffff;
     border-left: 5px solid #00abe8;
}
.see-more {
     cursor: pointer;
     font-family: 'PT Sans', sans-serif;
     font-weight: 400;
     font-size: 12px;
     color: #4a4a4a;
     text-transform: uppercase;
}